*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../Assets/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

nav{
    height: 4rem;
    width: 100vw;
    background:rgba(0,0,0,0.6);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'K2D';
}

.container{
    width: calc(100vw - 150px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    width: 100vw;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}

.roseGrad{
    background: linear-gradient(90deg, #FA868A 0%, #9B73D1 121.3%, rgba(249, 174, 131, 0) 477.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: k2d;
}

.navItems{
    font-size: 1.1rem;
    font-weight: 500;
    transition:  font-weight 0s linear,background .3s ease-in-out;
}

.navItems:hover{
    font-weight: 600;
    background: linear-gradient(90deg, #FA868A 0%, #9B73D1 121.3%, rgba(249, 174, 131, 0) 477.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn{
    outline:none;
    border:solid+1px#6722b0;
    border-radius: 5px;
    height: 30px;
    width:80px;
    background:#0000;
    color:#fff;
    cursor:pointer;
    transition: background .3s ease-in-out;
    font-family: k2d;
    font-size: 1rem;
}

.btn:hover{
    background: #6722b0;

}

.formContainer{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

form{
    backdrop-filter: blur(5px);
    background: rgba(0,0,0,0.6);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    padding: 40px;
    outline: none;
    border: none;
    margin-top:-40px;
    border-radius: 20px;
}

.twoElements{
    display:flex;
    gap:20px
}